.card {
  display: grid;
  height: 100dvh;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 45px;
  grid-template-areas:
		"card-header"
		"card-main"
		"card-footer";
}

.card-main {
  grid-area: "card-main";
  overflow: auto;
  padding: 0px;
  background-color: $white;
}

.card-header {
  grid-area: "card-header";
  background-color: $gray-110;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  white-space: nowrap;
  //display: flex;
}

.card-footer {
  grid-area: "card-footer";
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  background-color: $gray-110;
  color: $black;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'inter', 'Times New Roman', Times, serif;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  white-space: nowrap;
}

.card-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
