.l-0 { left: 0 !important;}
.l-1 { left: 10px !important;}
.l-2 { left: 20px !important;}
.l-3 { left: 30px !important;}
.l-4 { left: 40px !important;}
.l-5 { left: 50px !important;}
.l-6 { left: 60px !important;}
.l-7 { left: 70px !important;}
.l-8 { left: 80px !important;}
.l-9 { left: 90px !important;}
.l-10 { left: 100px !important;}
.l-11 { left: 110px !important;}
.l-12 { left: 120px !important;}
.l-13 { left: 130px !important;}
.l-14 { left: 140px !important;}
.l-15 { left: 150px !important;}
.l-16 { left: 160px !important;}
.l-17 { left: 170px !important;}
.l-18 { left: 180px !important;}
.l-19 { left: 190px !important;}
.l-20 { left: 200px !important;}
.l-21 { left: 210px !important;}
.l-22 { left: 220px !important;}
.l-23 { left: 230px !important;}
.l-24 { left: 240px !important;}
.l-25 { left: 250px !important;}
.l-26 { left: 260px !important;}
.l-27 { left: 270px !important;}
.l-28 { left: 280px !important;}
.l-29 { left: 290px !important;}
.l-30 { left: 300px !important;}
.l-31 { left: 310px !important;}
.l-32 { left: 320px !important;}
.l-33 { left: 330px !important;}
.l-34 { left: 340px !important;}
.l-35 { left: 350px !important;}
.l-36 { left: 360px !important;}
.l-37 { left: 370px !important;}
.l-38 { left: 380px !important;}
.l-39 { left: 390px !important;}
.l-40 { left: 400px !important;}
.l-41 { left: 410px !important;}
.l-42 { left: 420px !important;}
.l-43 { left: 430px !important;}
.l-44 { left: 440px !important;}
.l-45 { left: 450px !important;}
.l-46 { left: 460px !important;}
.l-47 { left: 470px !important;}
.l-48 { left: 480px !important;}
.l-49 { left: 490px !important;}
.l-50 { left: 500px !important;}
.l-51 { left: 510px !important;}
.l-52 { left: 520px !important;}
.l-53 { left: 530px !important;}
.l-54 { left: 540px !important;}
.l-55 { left: 550px !important;}
.l-56 { left: 560px !important;}
.l-57 { left: 570px !important;}
.l-58 { left: 580px !important;}
.l-59 { left: 590px !important;}
.l-60 { left: 600px !important;}
.l-61 { left: 610px !important;}
.l-62 { left: 620px !important;}
.l-63 { left: 630px !important;}
.l-64 { left: 640px !important;}
.l-65 { left: 650px !important;}
.l-66 { left: 660px !important;}
.l-67 { left: 670px !important;}
.l-68 { left: 680px !important;}
.l-69 { left: 690px !important;}
.l-70 { left: 700px !important;}
.l-71 { left: 710px !important;}
.l-72 { left: 720px !important;}
.l-73 { left: 730px !important;}
.l-74 { left: 740px !important;}
.l-75 { left: 750px !important;}
.l-76 { left: 760px !important;}
.l-77 { left: 770px !important;}
.l-78 { left: 780px !important;}
.l-79 { left: 790px !important;}
.l-80 { left: 800px !important;}
.l-81 { left: 810px !important;}
.l-82 { left: 820px !important;}
.l-83 { left: 830px !important;}
.l-84 { left: 840px !important;}
.l-85 { left: 850px !important;}
.l-86 { left: 860px !important;}
.l-87 { left: 870px !important;}
.l-88 { left: 880px !important;}
.l-89 { left: 890px !important;}
.l-90 { left: 900px !important;}
.l-91 { left: 910px !important;}
.l-92 { left: 920px !important;}
.l-93 { left: 930px !important;}
.l-94 { left: 940px !important;}
.l-95 { left: 950px !important;}
.l-96 { left: 960px !important;}
.l-97 { left: 970px !important;}
.l-98 { left: 980px !important;}
.l-99 { left: 990px !important;}
.l-100 { left: 1000px !important;}

.r-0 { right: 0 !important;}
.r-1 { right: 10px !important;}
.r-2 { right: 20px !important;}
.r-3 { right: 30px !important;}
.r-4 { right: 40px !important;}
.r-5 { right: 50px !important;}
.r-6 { right: 60px !important;}
.r-7 { right: 70px !important;}
.r-8 { right: 80px !important;}
.r-9 { right: 90px !important;}
.r-10 { right: 100px !important;}
.r-11 { right: 110px !important;}
.r-12 { right: 120px !important;}
.r-13 { right: 130px !important;}
.r-14 { right: 140px !important;}
.r-15 { right: 150px !important;}
.r-16 { right: 160px !important;}
.r-17 { right: 170px !important;}
.r-18 { right: 180px !important;}
.r-19 { right: 190px !important;}
.r-20 { right: 200px !important;}
.r-21 { right: 210px !important;}
.r-22 { right: 220px !important;}
.r-23 { right: 230px !important;}
.r-24 { right: 240px !important;}
.r-25 { right: 250px !important;}
.r-26 { right: 260px !important;}
.r-27 { right: 270px !important;}
.r-28 { right: 280px !important;}
.r-29 { right: 290px !important;}
.r-30 { right: 300px !important;}
.r-31 { right: 310px !important;}
.r-32 { right: 320px !important;}
.r-33 { right: 330px !important;}
.r-34 { right: 340px !important;}
.r-35 { right: 350px !important;}
.r-36 { right: 360px !important;}
.r-37 { right: 370px !important;}
.r-38 { right: 380px !important;}
.r-39 { right: 390px !important;}
.r-40 { right: 400px !important;}
.r-41 { right: 410px !important;}
.r-42 { right: 420px !important;}
.r-43 { right: 430px !important;}
.r-44 { right: 440px !important;}
.r-45 { right: 450px !important;}
.r-46 { right: 460px !important;}
.r-47 { right: 470px !important;}
.r-48 { right: 480px !important;}
.r-49 { right: 490px !important;}
.r-50 { right: 500px !important;}
.r-51 { right: 510px !important;}
.r-52 { right: 520px !important;}
.r-53 { right: 530px !important;}
.r-54 { right: 540px !important;}
.r-55 { right: 550px !important;}
.r-56 { right: 560px !important;}
.r-57 { right: 570px !important;}
.r-58 { right: 580px !important;}
.r-59 { right: 590px !important;}
.r-60 { right: 600px !important;}
.r-61 { right: 610px !important;}
.r-62 { right: 620px !important;}
.r-63 { right: 630px !important;}
.r-64 { right: 640px !important;}
.r-65 { right: 650px !important;}
.r-66 { right: 660px !important;}
.r-67 { right: 670px !important;}
.r-68 { right: 680px !important;}
.r-69 { right: 690px !important;}
.r-70 { right: 700px !important;}
.r-71 { right: 710px !important;}
.r-72 { right: 720px !important;}
.r-73 { right: 730px !important;}
.r-74 { right: 740px !important;}
.r-75 { right: 750px !important;}
.r-76 { right: 760px !important;}
.r-77 { right: 770px !important;}
.r-78 { right: 780px !important;}
.r-79 { right: 790px !important;}
.r-80 { right: 800px !important;}
.r-81 { right: 810px !important;}
.r-82 { right: 820px !important;}
.r-83 { right: 830px !important;}
.r-84 { right: 840px !important;}
.r-85 { right: 850px !important;}
.r-86 { right: 860px !important;}
.r-87 { right: 870px !important;}
.r-88 { right: 880px !important;}
.r-89 { right: 890px !important;}
.r-90 { right: 900px !important;}
.r-91 { right: 910px !important;}
.r-92 { right: 920px !important;}
.r-93 { right: 930px !important;}
.r-94 { right: 940px !important;}
.r-95 { right: 950px !important;}
.r-96 { right: 960px !important;}
.r-97 { right: 970px !important;}
.r-98 { right: 980px !important;}
.r-99 { right: 990px !important;}
.r-100 { right: 1000px !important;}

.t-0 { top: 0 !important;}
.t-1 { top: 10px !important;}
.t-2 { top: 20px !important;}
.t-3 { top: 30px !important;}
.t-4 { top: 40px !important;}
.t-5 { top: 50px !important;}
.t-6 { top: 60px !important;}
.t-7 { top: 70px !important;}
.t-8 { top: 80px !important;}
.t-9 { top: 90px !important;}
.t-10 { top: 100px !important;}
.t-11 { top: 110px !important;}
.t-12 { top: 120px !important;}
.t-13 { top: 130px !important;}
.t-14 { top: 140px !important;}
.t-15 { top: 150px !important;}
.t-16 { top: 160px !important;}
.t-17 { top: 170px !important;}
.t-18 { top: 180px !important;}
.t-19 { top: 190px !important;}
.t-20 { top: 200px !important;}
.t-21 { top: 210px !important;}
.t-22 { top: 220px !important;}
.t-23 { top: 230px !important;}
.t-24 { top: 240px !important;}
.t-25 { top: 250px !important;}
.t-26 { top: 260px !important;}
.t-27 { top: 270px !important;}
.t-28 { top: 280px !important;}
.t-29 { top: 290px !important;}
.t-30 { top: 300px !important;}
.t-31 { top: 310px !important;}
.t-32 { top: 320px !important;}
.t-33 { top: 330px !important;}
.t-34 { top: 340px !important;}
.t-35 { top: 350px !important;}
.t-36 { top: 360px !important;}
.t-37 { top: 370px !important;}
.t-38 { top: 380px !important;}
.t-39 { top: 390px !important;}
.t-40 { top: 400px !important;}
.t-41 { top: 410px !important;}
.t-42 { top: 420px !important;}
.t-43 { top: 430px !important;}
.t-44 { top: 440px !important;}
.t-45 { top: 450px !important;}
.t-46 { top: 460px !important;}
.t-47 { top: 470px !important;}
.t-48 { top: 480px !important;}
.t-49 { top: 490px !important;}
.t-50 { top: 500px !important;}
.t-51 { top: 510px !important;}
.t-52 { top: 520px !important;}
.t-53 { top: 530px !important;}
.t-54 { top: 540px !important;}
.t-55 { top: 550px !important;}
.t-56 { top: 560px !important;}
.t-57 { top: 570px !important;}
.t-58 { top: 580px !important;}
.t-59 { top: 590px !important;}
.t-60 { top: 600px !important;}
.t-61 { top: 610px !important;}
.t-62 { top: 620px !important;}
.t-63 { top: 630px !important;}
.t-64 { top: 640px !important;}
.t-65 { top: 650px !important;}
.t-66 { top: 660px !important;}
.t-67 { top: 670px !important;}
.t-68 { top: 680px !important;}
.t-69 { top: 690px !important;}
.t-70 { top: 700px !important;}
.t-71 { top: 710px !important;}
.t-72 { top: 720px !important;}
.t-73 { top: 730px !important;}
.t-74 { top: 740px !important;}
.t-75 { top: 750px !important;}
.t-76 { top: 760px !important;}
.t-77 { top: 770px !important;}
.t-78 { top: 780px !important;}
.t-79 { top: 790px !important;}
.t-80 { top: 800px !important;}
.t-81 { top: 810px !important;}
.t-82 { top: 820px !important;}
.t-83 { top: 830px !important;}
.t-84 { top: 840px !important;}
.t-85 { top: 850px !important;}
.t-86 { top: 860px !important;}
.t-87 { top: 870px !important;}
.t-88 { top: 880px !important;}
.t-89 { top: 890px !important;}
.t-90 { top: 900px !important;}
.t-91 { top: 910px !important;}
.t-92 { top: 920px !important;}
.t-93 { top: 930px !important;}
.t-94 { top: 940px !important;}
.t-95 { top: 950px !important;}
.t-96 { top: 960px !important;}
.t-97 { top: 970px !important;}
.t-98 { top: 980px !important;}
.t-99 { top: 990px !important;}
.t-100 { top: 1000px !important;}

.b-0 { bottom: 0 !important;}
.b-1 { bottom: 10px !important;}
.b-2 { bottom: 20px !important;}
.b-3 { bottom: 30px !important;}
.b-4 { bottom: 40px !important;}
.b-5 { bottom: 50px !important;}
.b-6 { bottom: 60px !important;}
.b-7 { bottom: 70px !important;}
.b-8 { bottom: 80px !important;}
.b-9 { bottom: 90px !important;}
.b-10 { bottom: 100px !important;}
.b-11 { bottom: 110px !important;}
.b-12 { bottom: 120px !important;}
.b-13 { bottom: 130px !important;}
.b-14 { bottom: 140px !important;}
.b-15 { bottom: 150px !important;}
.b-16 { bottom: 160px !important;}
.b-17 { bottom: 170px !important;}
.b-18 { bottom: 180px !important;}
.b-19 { bottom: 190px !important;}
.b-20 { bottom: 200px !important;}
.b-21 { bottom: 210px !important;}
.b-22 { bottom: 220px !important;}
.b-23 { bottom: 230px !important;}
.b-24 { bottom: 240px !important;}
.b-25 { bottom: 250px !important;}
.b-26 { bottom: 260px !important;}
.b-27 { bottom: 270px !important;}
.b-28 { bottom: 280px !important;}
.b-29 { bottom: 290px !important;}
.b-30 { bottom: 300px !important;}
.b-31 { bottom: 310px !important;}
.b-32 { bottom: 320px !important;}
.b-33 { bottom: 330px !important;}
.b-34 { bottom: 340px !important;}
.b-35 { bottom: 350px !important;}
.b-36 { bottom: 360px !important;}
.b-37 { bottom: 370px !important;}
.b-38 { bottom: 380px !important;}
.b-39 { bottom: 390px !important;}
.b-40 { bottom: 400px !important;}
.b-41 { bottom: 410px !important;}
.b-42 { bottom: 420px !important;}
.b-43 { bottom: 430px !important;}
.b-44 { bottom: 440px !important;}
.b-45 { bottom: 450px !important;}
.b-46 { bottom: 460px !important;}
.b-47 { bottom: 470px !important;}
.b-48 { bottom: 480px !important;}
.b-49 { bottom: 490px !important;}
.b-50 { bottom: 500px !important;}
.b-51 { bottom: 510px !important;}
.b-52 { bottom: 520px !important;}
.b-53 { bottom: 530px !important;}
.b-54 { bottom: 540px !important;}
.b-55 { bottom: 550px !important;}
.b-56 { bottom: 560px !important;}
.b-57 { bottom: 570px !important;}
.b-58 { bottom: 580px !important;}
.b-59 { bottom: 590px !important;}
.b-60 { bottom: 600px !important;}
.b-61 { bottom: 610px !important;}
.b-62 { bottom: 620px !important;}
.b-63 { bottom: 630px !important;}
.b-64 { bottom: 640px !important;}
.b-65 { bottom: 650px !important;}
.b-66 { bottom: 660px !important;}
.b-67 { bottom: 670px !important;}
.b-68 { bottom: 680px !important;}
.b-69 { bottom: 690px !important;}
.b-70 { bottom: 700px !important;}
.b-71 { bottom: 710px !important;}
.b-72 { bottom: 720px !important;}
.b-73 { bottom: 730px !important;}
.b-74 { bottom: 740px !important;}
.b-75 { bottom: 750px !important;}
.b-76 { bottom: 760px !important;}
.b-77 { bottom: 770px !important;}
.b-78 { bottom: 780px !important;}
.b-79 { bottom: 790px !important;}
.b-80 { bottom: 800px !important;}
.b-81 { bottom: 810px !important;}
.b-82 { bottom: 820px !important;}
.b-83 { bottom: 830px !important;}
.b-84 { bottom: 840px !important;}
.b-85 { bottom: 850px !important;}
.b-86 { bottom: 860px !important;}
.b-87 { bottom: 870px !important;}
.b-88 { bottom: 880px !important;}
.b-89 { bottom: 890px !important;}
.b-90 { bottom: 900px !important;}
.b-91 { bottom: 910px !important;}
.b-92 { bottom: 920px !important;}
.b-93 { bottom: 930px !important;}
.b-94 { bottom: 940px !important;}
.b-95 { bottom: 950px !important;}
.b-96 { bottom: 960px !important;}
.b-97 { bottom: 970px !important;}
.b-98 { bottom: 980px !important;}
.b-99 { bottom: 990px !important;}
.b-100 { bottom: 1000px !important;}