.mw-1 { min-width: 10px !important;}
.mw-2 { min-width: 20px !important;}
.mw-3 { min-width: 30px !important;}
.mw-4 { min-width: 40px !important;}
.mw-5 { min-width: 50px !important;}
.mw-6 { min-width: 60px !important;}
.mw-7 { min-width: 70px !important;}
.mw-8 { min-width: 80px !important;}
.mw-9 { min-width: 90px !important;}
.mw-10 { min-width: 100px !important;}
.mw-11 { min-width: 110px !important;}
.mw-12 { min-width: 120px !important;}
.mw-13 { min-width: 130px !important;}
.mw-14 { min-width: 140px !important;}
.mw-15 { min-width: 150px !important;}
.mw-16 { min-width: 160px !important;}
.mw-17 { min-width: 170px !important;}
.mw-18 { min-width: 180px !important;}
.mw-19 { min-width: 190px !important;}
.mw-20 { min-width: 200px !important;}
.mw-21 { min-width: 210px !important;}
.mw-22 { min-width: 220px !important;}
.mw-23 { min-width: 230px !important;}
.mw-24 { min-width: 240px !important;}
.mw-25 { min-width: 250px !important;}
.mw-26 { min-width: 260px !important;}
.mw-27 { min-width: 270px !important;}
.mw-28 { min-width: 280px !important;}
.mw-29 { min-width: 290px !important;}
.mw-30 { min-width: 300px !important;}
.mw-31 { min-width: 310px !important;}
.mw-32 { min-width: 320px !important;}
.mw-33 { min-width: 330px !important;}
.mw-34 { min-width: 340px !important;}
.mw-35 { min-width: 350px !important;}
.mw-36 { min-width: 360px !important;}
.mw-37 { min-width: 370px !important;}
.mw-38 { min-width: 380px !important;}
.mw-39 { min-width: 390px !important;}
.mw-40 { min-width: 400px !important;}
.mw-41 { min-width: 410px !important;}
.mw-42 { min-width: 420px !important;}
.mw-43 { min-width: 430px !important;}
.mw-44 { min-width: 440px !important;}
.mw-45 { min-width: 450px !important;}
.mw-46 { min-width: 460px !important;}
.mw-47 { min-width: 470px !important;}
.mw-48 { min-width: 480px !important;}
.mw-49 { min-width: 490px !important;}
.mw-50 { min-width: 500px !important;}
.mw-51 { min-width: 510px !important;}
.mw-52 { min-width: 520px !important;}
.mw-53 { min-width: 530px !important;}
.mw-54 { min-width: 540px !important;}
.mw-55 { min-width: 550px !important;}
.mw-56 { min-width: 560px !important;}
.mw-57 { min-width: 570px !important;}
.mw-58 { min-width: 580px !important;}
.mw-59 { min-width: 590px !important;}
.mw-60 { min-width: 600px !important;}
.mw-61 { min-width: 610px !important;}
.mw-62 { min-width: 620px !important;}
.mw-63 { min-width: 630px !important;}
.mw-64 { min-width: 640px !important;}
.mw-65 { min-width: 650px !important;}
.mw-66 { min-width: 660px !important;}
.mw-67 { min-width: 670px !important;}
.mw-68 { min-width: 680px !important;}
.mw-69 { min-width: 690px !important;}
.mw-70 { min-width: 700px !important;}
.mw-71 { min-width: 710px !important;}
.mw-72 { min-width: 720px !important;}
.mw-73 { min-width: 730px !important;}
.mw-74 { min-width: 740px !important;}
.mw-75 { min-width: 750px !important;}
.mw-76 { min-width: 760px !important;}
.mw-77 { min-width: 770px !important;}
.mw-78 { min-width: 780px !important;}
.mw-79 { min-width: 790px !important;}
.mw-80 { min-width: 800px !important;}
.mw-81 { min-width: 810px !important;}
.mw-82 { min-width: 820px !important;}
.mw-83 { min-width: 830px !important;}
.mw-84 { min-width: 840px !important;}
.mw-85 { min-width: 850px !important;}
.mw-86 { min-width: 860px !important;}
.mw-87 { min-width: 870px !important;}
.mw-88 { min-width: 880px !important;}
.mw-89 { min-width: 890px !important;}
.mw-90 { min-width: 900px !important;}
.mw-91 { min-width: 910px !important;}
.mw-92 { min-width: 920px !important;}
.mw-93 { min-width: 930px !important;}
.mw-94 { min-width: 940px !important;}
.mw-95 { min-width: 950px !important;}
.mw-96 { min-width: 960px !important;}
.mw-97 { min-width: 970px !important;}
.mw-98 { min-width: 980px !important;}
.mw-99 { min-width: 990px !important;}
.mw-100 { min-width: 1000px !important;}


.xw-1 { max-width: 10px !important;}
.xw-2 { max-width: 20px !important;}
.xw-3 { max-width: 30px !important;}
.xw-4 { max-width: 40px !important;}
.xw-5 { max-width: 50px !important;}
.xw-6 { max-width: 60px !important;}
.xw-7 { max-width: 70px !important;}
.xw-8 { max-width: 80px !important;}
.xw-9 { max-width: 90px !important;}
.xw-10 { max-width: 100px !important;}
.xw-11 { max-width: 110px !important;}
.xw-12 { max-width: 120px !important;}
.xw-13 { max-width: 130px !important;}
.xw-14 { max-width: 140px !important;}
.xw-15 { max-width: 150px !important;}
.xw-16 { max-width: 160px !important;}
.xw-17 { max-width: 170px !important;}
.xw-18 { max-width: 180px !important;}
.xw-19 { max-width: 190px !important;}
.xw-20 { max-width: 200px !important;}
.xw-21 { max-width: 210px !important;}
.xw-22 { max-width: 220px !important;}
.xw-23 { max-width: 230px !important;}
.xw-24 { max-width: 240px !important;}
.xw-25 { max-width: 250px !important;}
.xw-26 { max-width: 260px !important;}
.xw-27 { max-width: 270px !important;}
.xw-28 { max-width: 280px !important;}
.xw-29 { max-width: 290px !important;}
.xw-30 { max-width: 300px !important;}
.xw-31 { max-width: 310px !important;}
.xw-32 { max-width: 320px !important;}
.xw-33 { max-width: 330px !important;}
.xw-34 { max-width: 340px !important;}
.xw-35 { max-width: 350px !important;}
.xw-36 { max-width: 360px !important;}
.xw-37 { max-width: 370px !important;}
.xw-38 { max-width: 380px !important;}
.xw-39 { max-width: 390px !important;}
.xw-40 { max-width: 400px !important;}
.xw-41 { max-width: 410px !important;}
.xw-42 { max-width: 420px !important;}
.xw-43 { max-width: 430px !important;}
.xw-44 { max-width: 440px !important;}
.xw-45 { max-width: 450px !important;}
.xw-46 { max-width: 460px !important;}
.xw-47 { max-width: 470px !important;}
.xw-48 { max-width: 480px !important;}
.xw-49 { max-width: 490px !important;}
.xw-50 { max-width: 500px !important;}
.xw-51 { max-width: 510px !important;}
.xw-52 { max-width: 520px !important;}
.xw-53 { max-width: 530px !important;}
.xw-54 { max-width: 540px !important;}
.xw-55 { max-width: 550px !important;}
.xw-56 { max-width: 560px !important;}
.xw-57 { max-width: 570px !important;}
.xw-58 { max-width: 580px !important;}
.xw-59 { max-width: 590px !important;}
.xw-60 { max-width: 600px !important;}
.xw-61 { max-width: 610px !important;}
.xw-62 { max-width: 620px !important;}
.xw-63 { max-width: 630px !important;}
.xw-64 { max-width: 640px !important;}
.xw-65 { max-width: 650px !important;}
.xw-66 { max-width: 660px !important;}
.xw-67 { max-width: 670px !important;}
.xw-68 { max-width: 680px !important;}
.xw-69 { max-width: 690px !important;}
.xw-70 { max-width: 700px !important;}
.xw-71 { max-width: 710px !important;}
.xw-72 { max-width: 720px !important;}
.xw-73 { max-width: 730px !important;}
.xw-74 { max-width: 740px !important;}
.xw-75 { max-width: 750px !important;}
.xw-76 { max-width: 760px !important;}
.xw-77 { max-width: 770px !important;}
.xw-78 { max-width: 780px !important;}
.xw-79 { max-width: 790px !important;}
.xw-80 { max-width: 800px !important;}
.xw-81 { max-width: 810px !important;}
.xw-82 { max-width: 820px !important;}
.xw-83 { max-width: 830px !important;}
.xw-84 { max-width: 840px !important;}
.xw-85 { max-width: 850px !important;}
.xw-86 { max-width: 860px !important;}
.xw-87 { max-width: 870px !important;}
.xw-88 { max-width: 880px !important;}
.xw-89 { max-width: 890px !important;}
.xw-90 { max-width: 900px !important;}
.xw-91 { max-width: 910px !important;}
.xw-92 { max-width: 920px !important;}
.xw-93 { max-width: 930px !important;}
.xw-94 { max-width: 940px !important;}
.xw-95 { max-width: 950px !important;}
.xw-96 { max-width: 960px !important;}
.xw-97 { max-width: 970px !important;}
.xw-98 { max-width: 980px !important;}
.xw-99 { max-width: 990px !important;}
.xw-100 { max-width: 1000px !important;}

.w-1 { width: 10px !important;}
.w-2 { width: 20px !important;}
.w-3 { width: 30px !important;}
.w-4 { width: 40px !important;}
.w-5 { width: 50px !important;}
.w-6 { width: 60px !important;}
.w-7 { width: 70px !important;}
.w-8 { width: 80px !important;}
.w-9 { width: 90px !important;}
.w-10 { width: 100px !important;}
.w-11 { width: 110px !important;}
.w-12 { width: 120px !important;}
.w-13 { width: 130px !important;}
.w-14 { width: 140px !important;}
.w-15 { width: 150px !important;}
.w-16 { width: 160px !important;}
.w-17 { width: 170px !important;}
.w-18 { width: 180px !important;}
.w-19 { width: 190px !important;}
.w-20 { width: 200px !important;}
.w-21 { width: 210px !important;}
.w-22 { width: 220px !important;}
.w-23 { width: 230px !important;}
.w-24 { width: 240px !important;}
.w-25 { width: 250px !important;}
.w-26 { width: 260px !important;}
.w-27 { width: 270px !important;}
.w-28 { width: 280px !important;}
.w-29 { width: 290px !important;}
.w-30 { width: 300px !important;}
.w-31 { width: 310px !important;}
.w-32 { width: 320px !important;}
.w-33 { width: 330px !important;}
.w-34 { width: 340px !important;}
.w-35 { width: 350px !important;}
.w-36 { width: 360px !important;}
.w-37 { width: 370px !important;}
.w-38 { width: 380px !important;}
.w-39 { width: 390px !important;}
.w-40 { width: 400px !important;}
.w-41 { width: 410px !important;}
.w-42 { width: 420px !important;}
.w-43 { width: 430px !important;}
.w-44 { width: 440px !important;}
.w-45 { width: 450px !important;}
.w-46 { width: 460px !important;}
.w-47 { width: 470px !important;}
.w-48 { width: 480px !important;}
.w-49 { width: 490px !important;}
.w-50 { width: 500px !important;}
.w-51 { width: 510px !important;}
.w-52 { width: 520px !important;}
.w-53 { width: 530px !important;}
.w-54 { width: 540px !important;}
.w-55 { width: 550px !important;}
.w-56 { width: 560px !important;}
.w-57 { width: 570px !important;}
.w-58 { width: 580px !important;}
.w-59 { width: 590px !important;}
.w-60 { width: 600px !important;}
.w-61 { width: 610px !important;}
.w-62 { width: 620px !important;}
.w-63 { width: 630px !important;}
.w-64 { width: 640px !important;}
.w-65 { width: 650px !important;}
.w-66 { width: 660px !important;}
.w-67 { width: 670px !important;}
.w-68 { width: 680px !important;}
.w-69 { width: 690px !important;}
.w-70 { width: 700px !important;}
.w-71 { width: 710px !important;}
.w-72 { width: 720px !important;}
.w-73 { width: 730px !important;}
.w-74 { width: 740px !important;}
.w-75 { width: 750px !important;}
.w-76 { width: 760px !important;}
.w-77 { width: 770px !important;}
.w-78 { width: 780px !important;}
.w-79 { width: 790px !important;}
.w-80 { width: 800px !important;}
.w-81 { width: 810px !important;}
.w-82 { width: 820px !important;}
.w-83 { width: 830px !important;}
.w-84 { width: 840px !important;}
.w-85 { width: 850px !important;}
.w-86 { width: 860px !important;}
.w-87 { width: 870px !important;}
.w-88 { width: 880px !important;}
.w-89 { width: 890px !important;}
.w-90 { width: 900px !important;}
.w-91 { width: 910px !important;}
.w-92 { width: 920px !important;}
.w-93 { width: 930px !important;}
.w-94 { width: 940px !important;}
.w-95 { width: 950px !important;}
.w-96 { width: 960px !important;}
.w-97 { width: 970px !important;}
.w-98 { width: 980px !important;}
.w-99 { width: 990px !important;}
.w-100 { width: 1000px !important;}

.wp-1 { width: 1% !important;}
.wp-2 { width: 2% !important;}
.wp-3 { width: 3% !important;}
.wp-4 { width: 4% !important;}
.wp-5 { width: 5% !important;}
.wp-6 { width: 6% !important;}
.wp-7 { width: 7% !important;}
.wp-8 { width: 8% !important;}
.wp-9 { width: 9% !important;}
.wp-10 { width: 10% !important;}
.wp-11 { width: 11% !important;}
.wp-12 { width: 12% !important;}
.wp-13 { width: 13% !important;}
.wp-14 { width: 14% !important;}
.wp-15 { width: 15% !important;}
.wp-16 { width: 16% !important;}
.wp-17 { width: 17% !important;}
.wp-18 { width: 18% !important;}
.wp-19 { width: 19% !important;}
.wp-20 { width: 20% !important;}
.wp-21 { width: 21% !important;}
.wp-22 { width: 22% !important;}
.wp-23 { width: 23% !important;}
.wp-24 { width: 24% !important;}
.wp-25 { width: 25% !important;}
.wp-26 { width: 26% !important;}
.wp-27 { width: 27% !important;}
.wp-28 { width: 28% !important;}
.wp-29 { width: 29% !important;}
.wp-30 { width: 30% !important;}
.wp-31 { width: 31% !important;}
.wp-32 { width: 32% !important;}
.wp-33 { width: 33% !important;}
.wp-34 { width: 34% !important;}
.wp-35 { width: 35% !important;}
.wp-36 { width: 36% !important;}
.wp-37 { width: 37% !important;}
.wp-38 { width: 38% !important;}
.wp-39 { width: 39% !important;}
.wp-40 { width: 40% !important;}
.wp-41 { width: 41% !important;}
.wp-42 { width: 42% !important;}
.wp-43 { width: 43% !important;}
.wp-44 { width: 44% !important;}
.wp-45 { width: 45% !important;}
.wp-46 { width: 46% !important;}
.wp-47 { width: 47% !important;}
.wp-48 { width: 48% !important;}
.wp-49 { width: 49% !important;}
.wp-50 { width: 50% !important;}
.wp-51 { width: 51% !important;}
.wp-52 { width: 52% !important;}
.wp-53 { width: 53% !important;}
.wp-54 { width: 54% !important;}
.wp-55 { width: 55% !important;}
.wp-56 { width: 56% !important;}
.wp-57 { width: 57% !important;}
.wp-58 { width: 58% !important;}
.wp-59 { width: 59% !important;}
.wp-60 { width: 60% !important;}
.wp-61 { width: 61% !important;}
.wp-62 { width: 62% !important;}
.wp-63 { width: 63% !important;}
.wp-64 { width: 64% !important;}
.wp-65 { width: 65% !important;}
.wp-66 { width: 66% !important;}
.wp-67 { width: 67% !important;}
.wp-68 { width: 68% !important;}
.wp-69 { width: 69% !important;}
.wp-70 { width: 70% !important;}
.wp-71 { width: 71% !important;}
.wp-72 { width: 72% !important;}
.wp-73 { width: 73% !important;}
.wp-74 { width: 74% !important;}
.wp-75 { width: 75% !important;}
.wp-76 { width: 76% !important;}
.wp-77 { width: 77% !important;}
.wp-78 { width: 78% !important;}
.wp-79 { width: 79% !important;}
.wp-80 { width: 80% !important;}
.wp-81 { width: 81% !important;}
.wp-82 { width: 82% !important;}
.wp-83 { width: 83% !important;}
.wp-84 { width: 84% !important;}
.wp-85 { width: 85% !important;}
.wp-86 { width: 86% !important;}
.wp-87 { width: 87% !important;}
.wp-88 { width: 88% !important;}
.wp-89 { width: 89% !important;}
.wp-90 { width: 90% !important;}
.wp-91 { width: 91% !important;}
.wp-92 { width: 92% !important;}
.wp-93 { width: 93% !important;}
.wp-94 { width: 94% !important;}
.wp-95 { width: 95% !important;}
.wp-96 { width: 96% !important;}
.wp-97 { width: 97% !important;}
.wp-98 { width: 98% !important;}
.wp-99 { width: 99% !important;}
.wp-100 { width: 100% !important;}


@media (min-width: 0px) and (max-width: 491.98px) {
  .wp-m-1 { width: 1% !important;}
  .wp-m-2 { width: 2% !important;}
  .wp-m-3 { width: 3% !important;}
  .wp-m-4 { width: 4% !important;}
  .wp-m-5 { width: 5% !important;}
  .wp-m-6 { width: 6% !important;}
  .wp-m-7 { width: 7% !important;}
  .wp-m-8 { width: 8% !important;}
  .wp-m-9 { width: 9% !important;}
  .wp-m-10 { width: 10% !important;}
  .wp-m-11 { width: 11% !important;}
  .wp-m-12 { width: 12% !important;}
  .wp-m-13 { width: 13% !important;}
  .wp-m-14 { width: 14% !important;}
  .wp-m-15 { width: 15% !important;}
  .wp-m-16 { width: 16% !important;}
  .wp-m-17 { width: 17% !important;}
  .wp-m-18 { width: 18% !important;}
  .wp-m-19 { width: 19% !important;}
  .wp-m-20 { width: 20% !important;}
  .wp-m-21 { width: 21% !important;}
  .wp-m-22 { width: 22% !important;}
  .wp-m-23 { width: 23% !important;}
  .wp-m-24 { width: 24% !important;}
  .wp-m-25 { width: 25% !important;}
  .wp-m-26 { width: 26% !important;}
  .wp-m-27 { width: 27% !important;}
  .wp-m-28 { width: 28% !important;}
  .wp-m-29 { width: 29% !important;}
  .wp-m-30 { width: 30% !important;}
  .wp-m-31 { width: 31% !important;}
  .wp-m-32 { width: 32% !important;}
  .wp-m-33 { width: 33% !important;}
  .wp-m-34 { width: 34% !important;}
  .wp-m-35 { width: 35% !important;}
  .wp-m-36 { width: 36% !important;}
  .wp-m-37 { width: 37% !important;}
  .wp-m-38 { width: 38% !important;}
  .wp-m-39 { width: 39% !important;}
  .wp-m-40 { width: 40% !important;}
  .wp-m-41 { width: 41% !important;}
  .wp-m-42 { width: 42% !important;}
  .wp-m-43 { width: 43% !important;}
  .wp-m-44 { width: 44% !important;}
  .wp-m-45 { width: 45% !important;}
  .wp-m-46 { width: 46% !important;}
  .wp-m-47 { width: 47% !important;}
  .wp-m-48 { width: 48% !important;}
  .wp-m-49 { width: 49% !important;}
  .wp-m-50 { width: 50% !important;}
  .wp-m-51 { width: 51% !important;}
  .wp-m-52 { width: 52% !important;}
  .wp-m-53 { width: 53% !important;}
  .wp-m-54 { width: 54% !important;}
  .wp-m-55 { width: 55% !important;}
  .wp-m-56 { width: 56% !important;}
  .wp-m-57 { width: 57% !important;}
  .wp-m-58 { width: 58% !important;}
  .wp-m-59 { width: 59% !important;}
  .wp-m-60 { width: 60% !important;}
  .wp-m-61 { width: 61% !important;}
  .wp-m-62 { width: 62% !important;}
  .wp-m-63 { width: 63% !important;}
  .wp-m-64 { width: 64% !important;}
  .wp-m-65 { width: 65% !important;}
  .wp-m-66 { width: 66% !important;}
  .wp-m-67 { width: 67% !important;}
  .wp-m-68 { width: 68% !important;}
  .wp-m-69 { width: 69% !important;}
  .wp-m-70 { width: 70% !important;}
  .wp-m-71 { width: 71% !important;}
  .wp-m-72 { width: 72% !important;}
  .wp-m-73 { width: 73% !important;}
  .wp-m-74 { width: 74% !important;}
  .wp-m-75 { width: 75% !important;}
  .wp-m-76 { width: 76% !important;}
  .wp-m-77 { width: 77% !important;}
  .wp-m-78 { width: 78% !important;}
  .wp-m-79 { width: 79% !important;}
  .wp-m-80 { width: 80% !important;}
  .wp-m-81 { width: 81% !important;}
  .wp-m-82 { width: 82% !important;}
  .wp-m-83 { width: 83% !important;}
  .wp-m-84 { width: 84% !important;}
  .wp-m-85 { width: 85% !important;}
  .wp-m-86 { width: 86% !important;}
  .wp-m-87 { width: 87% !important;}
  .wp-m-88 { width: 88% !important;}
  .wp-m-89 { width: 89% !important;}
  .wp-m-90 { width: 90% !important;}
  .wp-m-91 { width: 91% !important;}
  .wp-m-92 { width: 92% !important;}
  .wp-m-93 { width: 93% !important;}
  .wp-m-94 { width: 94% !important;}
  .wp-m-95 { width: 95% !important;}
  .wp-m-96 { width: 96% !important;}
  .wp-m-97 { width: 97% !important;}
  .wp-m-98 { width: 98% !important;}
  .wp-m-99 { width: 99% !important;}
  .wp-m-100 { width: 100% !important;}
}