<form class="form" [formGroup]="crud.form.formGroup" (ngSubmit)="crud.onSubmit()" autocomplete="off" #formDir="ngForm">
  <div class="card">
    <div class="card-header">
      <app-header-form icone="fa-battery-4" title="Centro Lucro Situação"/>
    </div>
    <div class="card-main d-flex justify-content-center align-items-start p-3">
      <div class="card-content gap-3">  
        <div class="frameset frameset-primary ">
          <div class="pb-2">
            <div class="mb-2">Informações</div>
            <div class="row">
              <app-input-form input="Id" Nível="Id" type="text" [control]="crud.form.getControl('Id')" class="d-none"/>
              <app-combobox-form input="IdExercicio" label="Exercicio" [control]="crud.form.getControl('IdExercicio')" class="wp-100" [error]="crud.checkInputError('IdExercicio')"  [options]="data?.Exercicios"/>
              <app-combobox-form input="IdCentroLucro" label="Centro Lucro" [control]="crud.form.getControl('IdCentroLucro')" class="wp-100" [error]="crud.checkInputError('IdCentroLucro')"  [options]="data?.CentroLucros"/> 
              <app-combobox-form input="IdCentroStatus" label="Status" [control]="crud.form.getControl('IdCentroStatus')" class="wp-100" [error]="crud.checkInputError('IdCentroStatus')" [options]="data?.CentroStatus"/> 
            </div>
          </div>
        </div>
        <div class="frameset frameset-primary ">
          <div class="pb-2">
            <div class="mb-2">Usuário</div>
            <div class="row">
              <app-input-display-form Label="Usuário Atual" class="wp-100" [Value]="data?.CentroLucroUsuario?.Email" />
              <app-input-display-form Label="Nível Atual" class="wp-100" [Value]="data?.CentroLucroUsuario?.Nivel" />
              <app-input-display-form Label="Total de Nível" class="wp-100" [Value]="data?.CentroLucroUsuarios?.length" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <app-footer-form [showFooterBtn]="crud.footerBtn" (eventVoltar)="crud.onBack()" (eventEditar)="crud.onEdit()" (eventCancelar)="crud.onCancel()" (eventDeletar)="crud.onDelete()"/>
    </div>
  </div>
</form>