@import "../../../assets/styles/colors";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/table";
@import "../../../assets/styles/width";
@import "../../../assets/styles/badge";
@import "../../../assets/styles/common";