/* You can add global styles to this file, and also import other style files */
@import "assets/styles/colors";
@import "assets/styles/common";
@import "assets/styles/width";
@import "assets/styles/spacing";


* {
  -webkit-touch-callout: none !important;  /* iPhone OS, Safari */
  -webkit-user-select: none !important;    /* Chrome, Safari 3 */
  -khtml-user-select: none !important;     /* Safari 2 */
  -moz-user-select: none !important;       /* Firefox */
  -ms-user-select: none !important;        /* IE10+ */
  user-select: none !important;            /* Possível implementação no futuro */
  -webkit-tap-highlight-color: transparent !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;  
}

html, body { height: 100dvh; }
body { margin: 0; }

.row {
  @extend .d-flex;
  @extend .m-2; 
  @extend .p-0;
  @extend .gap-3;
  flex-wrap: wrap;
  
  //@media (min-width: 0px) and (max-width: 491.98px) {
  //  flex-direction: column;
  //  align-content: flex-start;
  //  flex-wrap: wrap;
  //}
}

.row-item-1 {
  flex-grow: 1;
  flex-basis: 8,3%;
}

.row-item-2 {
  flex-grow: 2;
  flex-basis: 16,6%;
}

.row-item-3 {
  flex-grow: 3;
  flex-basis: 24,9%;
}

.row-item-4 {
  flex-grow: 4;
  flex-basis: 33,2%;
}

.row-item-5 {
  flex-grow: 5;
  flex-basis: 41,5%;
}

.row-item-6 {
  flex-grow: 6;
  flex-basis: 49,8%;
}

.row-item-7 {
  flex-grow: 7;
  flex-basis: 58,3%;
}

.row-item-8 {
  flex-grow: 8;
  flex-basis: 66,6%;
}

.row-item-9 {
  flex-grow: 9;
  flex-basis: 74,9%;
}

.row-item-10 {
  flex-grow: 10;
  flex-basis: 83,2%;
}

.row-item-11 {
  flex-grow: 11;
  flex-basis: 91,5%;
}

.row-item-12 {
  flex-grow: 12;
  flex-basis: 100%;
}





.flex {
  display: flex;
}
.display-none {
  display: none !important;
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.max-height-vh{
  height: 100dvh;
}
.max-height-p{
  height: 100%;
}




