<form class="form" [formGroup]="crud.form.formGroup" (ngSubmit)="crud.onSubmit()" autocomplete="off" #formDir="ngForm">
  <div class="card">
    <div class="card-header">
      <app-header-form icone="fa-user-pen" title="Funcionário"/>
    </div>
    <div class="card-main d-flex justify-content-center align-items-start p-3">
        <div class="frameset frameset-primary ">
          <div class="pb-2">
            <div class="mb-2">Informações</div>
            <div class="row">
              <app-input-form input="Id" label="Id" type="text" [control]="crud.form.getControl('Id')" class="d-none"/>
              <app-input-form input="Nome" label="Nome" type="text" [control]="crud.form.getControl('Nome')" class="wp-100" [error]="crud.checkInputError('Nome')" />   
            </div>
            <div class="row">
              <app-input-form input="PlanoSaudeValor" label="Plano de Saúde - Valor" type="text" [control]="crud.form.getControl('PlanoSaudeValor')" class="wp-100" [error]="crud.checkInputError('PlanoSaudeValor')" />
              <app-combobox-form input="IdFuncionarioCargo" label="Cargo" [control]="crud.form.getControl('IdFuncionarioCargo')" class="wp-100" [error]="crud.checkInputError('IdFuncionarioCargo')" [options]="data?.FuncionarioCargos"/>     
            </div>
            <div class="row">
              <app-combobox-form input="IdCentroCusto" label="Centro Custo" [control]="crud.form.getControl('IdCentroCusto')" class="wp-100" [error]="crud.checkInputError('IdCentroCusto')"  [options]="data?.CentroCustos"/>
              <app-combobox-form input="IdFuncionarioContratacao" label="Contratação" [control]="crud.form.getControl('IdFuncionarioContratacao')" class="wp-100" [error]="crud.checkInputError('IdFuncionarioContratacao')"  [options]="data?.FuncionariosContratacoes"/> 
            </div>
            <div class="row">
              <app-checkbox-form input="Periculosidade" label="Periculosidade" [control]="crud.form.getControl('Periculosidade')" class="single-input-left " classInput="checkbox-primary"/>     
            </div>
          </div>
        </div>
    </div>
    <div class="card-footer">
      <app-footer-form [showFooterBtn]="crud.footerBtn" (eventVoltar)="crud.onBack()" (eventEditar)="crud.onEdit()" (eventCancelar)="crud.onCancel()" (eventDeletar)="crud.onDelete()"/>
    </div>
  </div>
</form>