@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/common";
@import "../../../../assets/styles/width";
@import "../../../../assets/styles/spacing";

:host {
  height: 100%;
  gap: 5px;

  @extend .d-flex;
  @extend .justify-content-start;
  @extend .align-items-center;
  @extend .wp-100; 
  
  & button {
    height: 32px;
    
  };
}