<button type="button" class="btn btn-primary-line" *ngIf="showFooterBtn.onShowVoltar" (click)="onVoltar()">Voltar</button>
<button type="button" class="btn btn-warning-line" *ngIf="showFooterBtn.onShowEditar" (click)="onEditar()">Editar</button>
<button type="button" class="btn btn-danger-line" *ngIf="showFooterBtn.onShowDeletar" (click)="onDeletar()">Deletar</button>
<button type="button" class="btn btn-dark-line" *ngIf="showFooterBtn.onShowCancelar" (click)="onCancelar()">Cancelar</button>
<button type="submit" class="btn btn-success-line" *ngIf="showFooterBtn.onShowSalvar">Salvar</button>