@import "../../../../../src/assets/styles/colors";
@import "../../../../../src/assets/styles/fonts";

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;  
  }

  li {
    max-width: 100% !important;
    width: 100% !important;
  }

  li:not(:last-child) {
    border-bottom: solid 1px $gray-200;
  }

  .menu-lateral-btn {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5px 56px auto 35px;
    grid-template-rows: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;

    &:hover .menu-lateral-before-icone {
      opacity: 1; 
    }

    & .menu-lateral-before-icone {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: $blue;
      opacity: 0;
    }

    & .menu-lateral-icone {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: $white;
    }

    & .menu-lateral-titulo {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      color: $white;
      font-family: 'inter', 'Times New Roman', Times, serif;
    }

    & .menu-lateral-indicador {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: $white;
    }
  }
  
  .menu-lateral-sub-menu ul {
    display: block;
    background-color: $blue-150;

    & li {
      border: none;
      
      & .menu-lateral-btn {

        grid-template-columns: 5px 56px auto 35px;
        grid-template-rows: 35px;

        & .menu-lateral-icone {
          font-size: 16px;
        }
        & .menu-lateral-titulo {
          font-size: 12px;
        }
        & .menu-lateral-indicador {
          font-size: 16px;
        }
      }

    }
  }

  .menu-lateral-sub-menu input:not(:checked) + ul{
    display: none;
  }