@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/common";
@import "../../../../assets/styles/width";
@import "../../../../assets/styles/spacing";


:host{
  height: 100%;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .wp-100; 
}

.titulo {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  
  & i {
    font-size: 23px;
    margin-right: 5px;
  }
  
  & span {
    cursor: pointer;
    font-family: 'inter', 'Times New Roman', Times, serif;
  }

}