@import "../../../../src/assets/styles/colors";
@import "../../../../src/assets/styles/common";
@import "../../../../src/assets/styles/fonts";

.lds-content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $primary-bg;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.lds-title {
  position: fixed;
  font-size: 20px;
  color: $white;
  font-family: 'inter', 'Times New Roman', Times, serif;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 60px;
  height: 60px;
  //margin: 0 calc(50% - 30px);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid $blue-200;
  border-color: $blue-200 transparent $blue-200 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}