<form class="form" [formGroup]="crud.form.formGroup" (ngSubmit)="crud.onSubmit()" autocomplete="off" #formDir="ngForm">
  <div class="card">
    <div class="card-header">
      <app-header-form icone="fa-coins" title="Conta Contabil"/>
    </div>
    <div class="card-main d-flex justify-content-center align-items-start p-3">
        <div class="frameset frameset-primary ">
          <div class="pb-2">
            <div class="mb-2">Informações</div>
            <div class="row">
              <app-input-form input="Id" label="Id" type="text" [control]="crud.form.getControl('Id')" class="d-none"/>
              <app-input-form input="Codigo" label="Código" type="text" [control]="crud.form.getControl('Codigo')" class="row-item-2 input-primary" [error]="crud.checkInputError('Codigo')"/>
              <app-input-form input="Digito" label="Digito" type="text" [control]="crud.form.getControl('Digito')" class="row-item-1 input-primary" [error]="crud.checkInputError('Digito')"/>
              <app-input-form input="Nome" label="Nome" type="text" [control]="crud.form.getControl('Nome')" class="row-item-9 input-primary" [error]="crud.checkInputError('Nome')"/>     
            </div>
            <div class="row">
              <app-combobox-form input="IdContaContabilFormula" label="Formula" [control]="crud.form.getControl('IdContaContabilFormula')" class="row-item-6 input-primary" [error]="crud.checkInputError('IdContaContabilFormula')" [options]="data?.Formulas"/>
              <app-combobox-form input="IdContaContabilClassificacao" label="Classificação" [control]="crud.form.getControl('IdContaContabilClassificacao')" class="row-item-6 input-primary" [error]="crud.checkInputError('IdContaContabilClassificacao')" [options]="data?.Classificacao"/>     
            </div>
            <div class="row">
              <app-input-form input="Limite" label="Limite" type="text" [control]="crud.form.getControl('Limite')" class="row-item-1 input-primary" [error]="crud.checkInputError('Limite')"/>
              <app-input-form input="Help" label="Help" type="text" [control]="crud.form.getControl('Help')" class="row-item-11 input-primary" [error]="crud.checkInputError('Help')"/>
            </div>
            <div class="d-flex row">
              <app-checkbox-form input="Visualizar" label="Visualizar" [control]="crud.form.getControl('Visualizar')" class="single-input-left" classInput="checkbox-primary"/>
              <app-checkbox-form input="NaoAceitaCalculo" label="Não aceita cálculo" [control]="crud.form.getControl('NaoAceitaCalculo')" class="single-input-left" classInput="checkbox-primary"/>
              <app-checkbox-form input="ExigeJustificativa" label="Exige justificativa" [control]="crud.form.getControl('ExigeJustificativa')" class="single-input-left" classInput="checkbox-primary"/>
            </div>
          </div>
        </div>
    </div>
    <div class="card-footer">
      <app-footer-form [showFooterBtn]="crud.footerBtn" (eventVoltar)="crud.onBack()" (eventEditar)="crud.onEdit()" (eventCancelar)="crud.onCancel()" (eventDeletar)="crud.onDelete()"/>
    </div>
  </div>
</form>