@import "../../src/assets/styles/colors";

.body {
  display: grid;
  height: 100dvh;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: auto;
  grid-template-rows: 56px auto 30px;
  grid-template-areas:
		"header"
		"main"
		"footer";
}

main {
  grid-area: main;
  border-top: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  overflow: auto;
  padding: 10px;
  background-color: $gray-400;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  background-color: $white;
  color: $black;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'inter', 'Times New Roman', Times, serif;
}

.menu-principal {
  background-color: $blue-200;
  display: flex;
  height: auto;
  width: 260px;
  top: 56px;
  left: 0;
  bottom: 30px;
  position: absolute;
  color: $white;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}