@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/table";
@import "../../assets/styles/width";
@import "../../assets/styles/badge";
@import "../../assets/styles/common";
@import "../../assets/styles/card";
@import "../../assets/styles/tab";
@import "../../assets/styles/spacing";
@import "../../assets/styles/position";


.menu-secundario {
  background-color: $blue-200;
  display: flex;
  height: auto;
  width: 260px;
  top: 165px;
  right: 10px;
  bottom: 85px;
  position: absolute;
  color: $white;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.content-list {
  display: flex;
  overflow: auto;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 48px;
}

.card-main {
  position: relative;
}

.table {
  margin: 0 !important;
  padding: 0 !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 100%;

  & thead {
    background-color: $white;
    & tr th {
      overflow: hidden;
      position: sticky;
      height: 30px !important;
      padding: 0 !important;
      margin: 0 !important;
      z-index: 3;
      background-color: $white;

      & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none !important;
        height: 30px !important;
        border-right: solid 1px $gray-400 !important;
        border-top: solid 1px $gray-400 !important;
        font-family: 'inter', 'Times New Roman', Times, serif;
        padding-left: 5px;
        font-size: 12px;
      }
    }
    
    & tr:nth-of-type(1) > th {
      top: 0px !important;
      & > div {
        background-color: $blue-200 !important;
      }
    }

    & tr:nth-of-type(2) > th {
      top: 31px !important;
    }

    & tr:nth-of-type(3) > th {
      top: 62px !important;
      & > div {
        background-color: $white !important;
        color: $blue-200 !important;
      }
    }

    & tr:nth-of-type(4) > th {
      top: 93px !important;
      & > div {
        background-color: $green-180 !important;
        color: $blue-200 !important;
      }
    }

    & tr:nth-of-type(5) > th {
      top: 124px !important;
      & > div {
        background-color: $blue-180 !important;
        color: $blue-200 !important;
      }
    }

    & tr:nth-of-type(6) > th {
      top: 155px !important;
      &:nth-of-type(1) > div {
        border-right: none !important;
      }
      & > div {
        border-bottom: solid 1px $gray-400 !important;
        background-color: $blue-200 !important;
      }
    }
  }

  & tbody {

    & tr td {
      margin: 0 !important;
      padding: 0 !important;
      & div {
        display: flex;
        align-items: center;
        justify-content: start;
        border: 0 !important;
        border-bottom: solid 1px $gray-400 !important;
        border-right: solid 1px $gray-400 !important;
        height: 30px !important;
        font-family: 'inter', 'Times New Roman', Times, serif;
        padding-left: 5px;
        font-size: 12px;

        &.border-right-zero {
          border-right: none !important;
        }

        & input {
          min-width: 10px !important;
          width: 100%;
          max-width: 100%;
          height: 21px;
          border: 0;
          border-bottom: 1px dotted $red;
          background-color: transparent !important;
          font-family: 'inter', 'Times New Roman', Times, serif;
          font-size: 12px;
        }
      }
    }

    & tr:nth-of-type(1) td {
      & div {
        border-top: solid 1px $gray-400 !important;
      }
    }

  }

}